@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    text-align: center;
    background-color: rgba(47, 47, 47, 0.95);
    color: black;
    padding: 1px;
    margin-bottom: 0px; /* Ajoute une marge inférieure pour créer de l'espace entre le h2 et les éléments en dessous */
    box-sizing: border-box;
    margin-top: -70px;
    text-align: center;
    background-color: #f1f1f1;
    padding: 2px;
    font-family: 'Poppins';
    font-weight: 200;
  }
  h2 p {
    margin-top: -2px;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 14px;
  }

  p{
      text-align: center;
      font-family: 'Poppins';
      font-weight: 200;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.header {
    position: relative;
    width: 100%; /* Prend toute la largeur de la page */
    padding: 0px; /* Ajoute un padding à l'intérieur pour donner de l'espace au contenu */
    z-index: -1; /* Ajoutez cette propriété pour placer les éléments en arrière-plan */
    
      
}


.AT{
    margin-top: -100px;
    align-content: left;
    text-align: left top;
    border: 0.5px solid #fff transparent;
    padding: 10px;
    border-radius: 5px;
    flex: 0 0 calc(20% - 15px); /* Ajuste la taille des éléments de la galerie */
    box-sizing: content-box;
    width: 30%;
    position: relative ; /* Ajouté pour positionner l'image par rapport à la box */
    padding-bottom: 0%; /* Ajouté pour déterminer la hauteur de la box en fonction de la largeur */
    background-color: #fff transparent;
    padding-top: 10px;
}
.AT p {
    direction: ltr;
    text-align: start;
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-size: 8px;
  }

    

  .ATE{
    margin-top: -120px;
      align-content: right;
      text-align: right top;
      border: 0.5px solid #fff transparent;
      padding: 15px;
      border-radius: 5px;
      flex: 0 0 calc(20% - 15px); /* Ajuste la taille des éléments de la galerie */
      box-sizing: content-box;
      width: 30%;
      position: relative; /* Ajouté pour positionner l'image par rapport à la box */
      padding-bottom: 0%; /* Ajouté pour déterminer la hauteur de la box en fonction de la largeur */
      background-color: #fff transparent;
      padding-top: 10px;
    }
    .ATE p {
    direction: rtl;
    text-align: start;
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-size: 8px;
}
.logo-container{
    margin-top: -140px;
    flex: 1; /* Permet au logo de prendre l'espace restant entre les deux textes */
  text-align: center top; /* Centre le logo horizontalement */
}
  .logo  {
    max-width: 100%; /* S'assure que le logo ne dépasse pas la largeur de son conteneur */
  max-height: 100%;
  }

.galerie {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 20px;
    }
    
    .peinture {
        border: 0.5px solid #fff;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        flex: 0 0 calc(20% - 15px); /* Ajuste la taille des éléments de la galerie */
        box-sizing: border-box;
        width: 70%;
        position: relative; /* Ajouté pour positionner l'image par rapport à la box */
        padding-bottom: 2%; /* Ajouté pour déterminer la hauteur de la box en fonction de la largeur */
        background-color: #eeeeee transparent;
        /* Modifiez la hauteur pour qu'elle soit plus grande */
        height: 400px;
    }

      .peinture p {
          margin-top: 0; /* Ajouté pour ajuster l'espace entre l'image et le texte à l'intérieur de la box */
        margin-bottom: 1px;
    }
    
    
    .slider {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden; /* Cache les images qui dépassent du conteneur */
    }
    
            .slide {
                position: absolute;
                top: 0;
              left: 0;
              width: 100%;
              height: 310px;
              object-fit: contain;
              transition: transform 0.5s; /* Ajoute une transition pour l'effet de glissement */
            }
            .peinture:hover .slide:nth-child(2){
            transform: translateX(-100%); /* Déplace l'image vers la gauche lors du survol */
}
    .slider img {
        max-width: 100%;
        border-radius: 5px;
        object-fit: cover; /* Ajuste l'image pour qu'elle couvre entièrement l'espace dédié */
        height: 310px; /* Hauteur fixe pour les images */
    }

.title{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 25px;
    margin-top: -50px;
}
  
  .title p {
      font-family: 'Poppins';
      font-weight: 200;
      font-size: 13px;
    }

    /* Media queries pour une mise en page réactive */
    @media (max-width: 1200px) {
        .peinture {
            flex: 0 0 calc(33.333% - 20px);
    }
  }
  
  @media (max-width: 768px) {
      .peinture {
          flex: 0 0 calc(50% - 20px);
        }
    }
    
    @media (max-width: 480px) {
    .peinture {
        flex: 0 0 100%;
    }
}


@media (max-width: 768px) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 70px 0 10px;
    }
  
    .header .AT,
    .header .ATE {
      position: static;
      display: block;
      text-align: center;
      margin: 10px 0 30px; /* Ajustez la marge inférieure pour redescendre le texte */
      width: 100%;
      overflow: visible;
    }
  }
  

  
  
  
  
  
  