@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    text-align: center;
    background-color: rgba(47, 47, 47, 0.95);
    color: black;
    padding: 1px;
    margin-bottom: 0px; /* Ajoute une marge inférieure pour créer de l'espace entre le h2 et les éléments en dessous */
    box-sizing: border-box;
    margin-top: -50px;
    text-align: center;
    background-color: #f1f1f1;
    padding: 2px;
    font-family: 'Poppins';
    font-weight: 200;
  }
  h2 p {
    margin-top: 5px;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 14px;
  }

  p{
      text-align: center;
      font-family: 'Poppins';
      font-weight: 200;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
        margin-bottom: -90px;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin-top: -70px;
    align-items: center;
    flex: 1; /* Permet au logo de prendre l'espace restant entre les deux textes */
    text-align: center; /* Centre le logo horizontalement */
}
.logo  {
    max-width: 50%; /* S'assure que le logo ne dépasse pas la largeur de son conteneur */
  max-height: 50%;
}

.galerie {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 20px;
    }
    
    .peinture {
        border: 0.5px solid #fff;
        padding: 3px;
        border-radius: 5px;
        text-align: center;
        flex: 0 0 calc(20% - 15px); /* Ajuste la taille des éléments de la galerie */
        box-sizing: border-box;
        width: 70%;
        position: relative; /* Ajouté pour positionner l'image par rapport à la box */
        padding-bottom: 2%; /* Ajouté pour déterminer la hauteur de la box en fonction de la largeur */
        background-color: #eeeeee transparent;
        /* Modifiez la hauteur pour qu'elle soit plus grande */
        height: 400px;
    }

      .peinture p {
          margin-top: 0; /* Ajouté pour ajuster l'espace entre l'image et le texte à l'intérieur de la box */
          margin-bottom: 1px;
        }
        
    
        .sliders {
            box-shadow: 10px 5px 5px #cecece;
            position: relative;
            width: 100%;
        height: 100%;
        overflow: hidden; /* Cache les images qui dépassent du conteneur */
    }
    
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 310px;
        object-fit: contain;
        transition: transform 0.4s  ease-in-out; /* Ajoute une transition pour l'effet de glissement */
    }
    
    
    .sliders img {
        max-width: 100%;
        border-radius: 5px;
        object-fit: cover; /* Ajuste l'image pour qu'elle couvre entièrement l'espace dédié */
        height: 310px; /* Hauteur fixe pour les images */
    }

    .slide:nth-child(1) {
        opacity: 1;
    }
    
    
    .peinture:hover .slide:nth-child(2)

    
    .peinture:hover .slide:nth-child(3)
    .peinture:hover .slide:nth-child(4),
    .peinture:hover .slide:nth-child(5),
    .peinture:hover .slide:nth-child(6),
    .peinture:hover .slide:nth-child(7),
    .peinture:hover .slide:nth-child(8),
    .peinture:hover .slide:nth-child(9) {
        opacity: 1;
    }
    
    .peinture:hover .slide:nth-child(9){
    transform: translateX(-100%); /* Déplace l'image vers la gauche lors du survol */
}
    .peinture:hover .slides {
        animation: scroll 10s linear infinite;
    }
    
.title{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 20px;
    margin-top: -60px;
}
  
.title p {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 10px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
      grid-template-areas: 
        "head head"
        "info-section info-section";
      gap: 20px;
    }
    .head{
       grid-area: head;
    }
    
     .header-popup {
         display: none;
         justify-content: center;
         align-items: center;
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5);
         z-index: 999;
        }
        
        .header-popup p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 200;
            color: black;
            font-size: 1.2rem;
            text-align: center;
            padding: 20px;
            background-color: #f1f1f1;
            border-radius: 5px;
        }
        
        .info-button {
            box-shadow: 10px 5px 5px #cecece;
            float: left;
            z-index: 1;
            position: relative;
            top: 0px;
            right: 0;
            left: -28px;
            margin-top: 0px;
            margin-right: 0px;
            margin-left: 20px;
            padding: 10px;
            background-color: #88b04b;
            color: white;
            border: none;
            cursor: pointer;
        }
      

      
    
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 2rem;
      color: white;
      cursor: pointer;
    }
      

    /* Media queries pour une mise en page réactive */
    @media (max-width: 1200px) {
        .peinture {
            flex: 0 0 calc(33.333% - 20px);
    }
  }
  
  @media (max-width: 768px) {
      .peinture {
          flex: 0 0 calc(50% - 20px);
        }
    }
    
    @media (max-width: 480px) {
    .peinture {
        flex: 0 0 100%;
    }
}


@media screen and (max-width: 600px) {
    .info-section {
        width: 90%;
        max-height: 80%;
        overflow: auto;
    }
}

keyframes scroll {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(-100%);
    }
    66.66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  