@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    font-family: 'Poppins';
    font-weight: 500;
  }

  h2 {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
    font-family: 'Poppins';
    font-weight: 200;
  }

  p{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 200;
  }
  
  .galerie {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 20px;
    }
    
    .peinture {
        border: 0.5px solid black;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        flex: 0 0 calc(20% - 15px); /* Ajuste la taille des éléments de la galerie */
        box-sizing: border-box;
        width: 70%;
        position: relative; /* Ajouté pour positionner l'image par rapport à la box */
        padding-bottom: 10%; /* Ajouté pour déterminer la hauteur de la box en fonction de la largeur */
        margin-bottom: 2px;
        background-color: #eeeeee;
    }
    
  .peinture img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover; /* Ajuste l'image pour qu'elle couvre entièrement l'espace dédié */
    height: 310px; /* Hauteur fixe pour les images */
  }
  
/* Media queries pour une mise en page réactive */
@media (max-width: 1200px) {
    .peinture {
      flex: 0 0 calc(33.333% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .peinture {
      flex: 0 0 calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .peinture {
      flex: 0 0 100%;
    }
  }
  